/* clock and buttons */
.watch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    z-index: 2;
  }
  
/* clock */
  .time {
    color: rgb(255, 255, 255);
    font-size: 8rem;
    margin-bottom: 0;
    text-align: center;
  }
  
  /* clock buttons */
  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #topControls button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    color: white;
    font-size: 1.125rem;
    background-color: transparent;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: 0.2s;
    box-shadow: 0 0 0 1px white;
  }
  
  #topControls button:hover {
    background-color: white;
    color: black;
  }

  #topControls button.active {
    background-color: white;
    color: black;
  }

/* bottom buttons */
  #bottomControls button {
    background-color: transparent;
    border: none;
    font-size: 32.5px; 
    margin-right: 20px;
}

/* bottom icons */
  #bottomControls button i {
    color: white;
}
  
  /* opacity dark background */
  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 0.3 opacity */
    z-index: 1; /* Ensure the layer appears on top of other elements */
  }