/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 230px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: transparent; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 10px from the top */
  padding-bottom: 20px; /* Place content 10px from the bottom */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Navbar in front of opacity layer */
#mySidenav {
  z-index: 3;
}

/* The navigation menu links */
.sidenav button {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.2s;
  width: 210px; /* Adjust the width to accommodate margins */
  box-sizing: border-box; 
  border: none; 
  border-radius: 10px; 
  margin-bottom: 10px; 
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px 8px 8px 20px; /* Adjust the left padding */
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically align the icon and text */
}

/* Bootstrap icons inside buttons */
.sidenav button i {
  margin-right: 10px; 
}

/* Apply the hover effect to all buttons inside #mySidenav except the first one */
.effect-button:hover {
  filter: brightness(90%);
}

/* Settings and Log out at the bottom */
.bottom-links {
  position: absolute;
  bottom: 0;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent element */
}

a:hover {
  text-decoration: none; /* Remove underline on hover */
  color: inherit; /* Inherit the color from the parent element on hover */
}

/* Define the font-family for the custom-font-button class */
.custom-font-button {
  font-family: 'Montserrat', sans-serif;
}




