{% extends "layout.html" %}

{% block title %}
    Calendar
{% endblock %}

{% block main %}

<link href="../static/calendar.css" rel="stylesheet">
<div id="all_calendar" class="ui container">
  <div class="ui container">
    <div class="ui grid">
      <div class="ui sixteen column">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
  </div>
    <form action="/add_event" method="get">
      <button id="addEvent" class="btn btn-primary">Add Event</button>
    </form>
    <form action="/delete_event" method="get">
      <button id="deleteEvent" class="btn btn-primary">Delete Event</button>
    </form>
  <div>
</div>

<script src='fullcalendar/dist/index.global.js'></script>
  <script>
    $(document).ready(function() {
    
        $('#calendar').fullCalendar({
          header: {
            left: 'prev,next today ',
            center: 'title',
            right: 'month,basicWeek'
          },
          defaultDate: moment().format('YYYY-MM-DD'),
          navLinks: true, // can click day/week names to navigate views
          editable: false, // cannot edit events on calendar
          eventLimit: true, // allow "more" link when too many events
          displayEventTime: false, // hide the time display
          firstDay: 1, // Monday as the starting day
          eventColor: "#4a9eff",
          events: [
            {% for event in event_info %}
            {
              title: '{{ event.name }}',
              start: '{{ event.event_date }}',
              color: '{{ event.color }}'
            },
            {% endfor %}
          ]
        });      
      });
  </script>
  


{% endblock %}