{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <h1>Index</h1>

    <form>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" min="1" id="minutes" placeholder="Minutes" type="number">
        </div>
    </form>

    <div class="watch">
		<div class="time">
			00:00:00
		</div>
		<div class="controls">
			<button id="startStop">Start</button>
			<button id="reset">Reset</button>
		</div>
	</div>

	<script>
        
        /* TODO: Bug to fix: when clicking start after stopping clock the clock continues at the time that user inputed and not the time that the clock stopped. 
         This is because when start button is clicked again the function getInput() is called again and variable seconds is set to equal the input from the user. */ 

        // Global variables
        const time_el = document.querySelector(".watch .time");
        const startStop_btn = document.getElementById("startStop");
        const reset_btn = document.getElementById("reset");
        let stopTime = 0;
        let running = false;
        let input_seconds;
        let seconds;
        let interval = null;

        // Gets input from user and stores it in variable seconds
        function getInput () {
            let input_minutes = Number(document.getElementById("minutes").value);
            input_seconds = input_minutes * 60;
            seconds = input_seconds;
        }

        // Event listeners
        startStop_btn.addEventListener("click", getInput);
        startStop_btn.addEventListener("click", startStop);
        reset_btn.addEventListener("click", reset);

        // Update the timer
        function timer () {
            running = true;
            seconds--;

            // Format our time
            updateDisplay();
        }

        function startStop () {
            if (running) {
                // Timer is currently running, so stop it
                clearInterval(interval);
                interval = null;
                running = false;
                startStop_btn.innerText = "Start";
            } else {
                // Timer is currently stopped, so start it
                interval = setInterval(timer, 1000);
                running = true;
                startStop_btn.innerText = "Stop";
            }
        }

        function reset () {
            if (running) {
                clearInterval(interval);
                interval = null;
                running = false;
                startStop_btn.innerText = "Start";
            }
            seconds = input_seconds;
            updateDisplay();
        }

        function updateDisplay() {
            let hrs = Math.floor(seconds / 3600);
            let mins = Math.floor((seconds - (hrs * 3600)) / 60);
            let secs = seconds % 60;
            if (secs < 10) secs = "0" + secs;
            if (mins < 10) mins = "0" + mins;
            if (hrs < 10) hrs = "0" + hrs;
            time_el.innerText = `${hrs}:${mins}:${secs}`;
        }
    </script>

{% endblock %}