<!DOCTYPE html>

<html lang="en">

    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>{% block title %}{% endblock %}</title>

      <!-- https://getbootstrap.com/ -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

      <link href="../static/main.css" rel="stylesheet">

      <!-- https://icons.getbootstrap.com/ -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    </head>

    <body>    
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        
        <!-- if user logged in -->
        {% if session["user_id"] %}

        <!-- navbar -->
        <link href="../static/navbar.css" rel="stylesheet">
        <div id="mySidenav" class="sidenav">
          <button onclick="openCloseNav()"><i class="bi bi-list"></i><span id="buttonText">Name</span></button>
          <button href="/pomodoro"><i class="bi bi-clock"></i><span id="buttonText">Pomodoro</span></button>
          <button href="#"><i class="bi bi-calendar"></i><span id="buttonText">Calendar</span></button>
          <button href="#"><i class="bi bi-list-check"></i><span id="buttonText">To-do List</span></button>
          <button href="#"><i class="bi bi-music-note-beamed"></i><span id="buttonText">Music</span></button>
          <div class="bottom-links">
            <button href="#"><i class="bi bi-gear"></i><span id="buttonText">Settings</span></button>
            <button href="/logout"><i class="bi bi-box-arrow-left"></i><span id="buttonText">Log Out</span></button>
          </div>
        </div>

        <script>

          function openCloseNav() {
            var nav = document.getElementById("mySidenav");
            var buttonText = document.querySelectorAll("#buttonText");
            var buttons = document.querySelectorAll("#mySidenav button");
            // close nav
            if (nav.style.width === "230px") {
              nav.style.width = "80px";
              // hide text
              buttonText.forEach(function(button) {
                button.style.display = "none";
              });
              // change button width
              buttons.forEach(function(button) {
                button.style.width = "60px";
              });
              // open nav
            } else {
              nav.style.width = "230px";
              // change button width
              buttons.forEach(function(button) {
                button.style.width = "210px";
              });
              // show text after a delay
              setTimeout(function() {
                buttonText.forEach(function(button) {
                  button.style.display = "inline";
                });
              }, 150); // 150 milliseconds delay (0.15 seconds)
            }
          }
        </script>
        {% endif %}


        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>
    </body>

</html>
