{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <link href="../static/pomodoro.css" rel="stylesheet">

    <div class="watch">
        <div class="controls">
            <button id="study">Study</button>
            <button id="shortBreak">Short Break</button>
            <button id="longBreak">Long Break</button>
        </div>
        <div class="time">
          00:00
        </div>
        <div class="controls">
          <button id="startStop">Start</button>
          <button id="reset">Reset</button>
        </div>
    </div>


    <script>
      
      // Global variables
      const time_el = document.querySelector(".watch .time");
      const startStop_btn = document.getElementById("startStop");
      const reset_btn = document.getElementById("reset");
      const body_el = document.querySelector("body");
      const study_btn = document.getElementById("study");
      const shortBreak_btn = document.getElementById("shortBreak");
      const longBreak_btn = document.getElementById("longBreak");
      const topButtons = document.querySelectorAll('.controls:nth-child(1) button');
      let stopTime = 0;
      let running = false;
      let input_seconds;
      let seconds;
      let interval = null;
      let pomodoroMin = 25;
      let shortBreakMin = 5;
      let longBreakMin = 10;

      
      // Background images
      const backgrounds = [
      "https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg",
      "https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg",
      "https://images.pexels.com/photos/3747499/pexels-photo-3747499.jpeg",
      "https://images.pexels.com/photos/2850287/pexels-photo-2850287.jpeg"
      ];
      

      // Change backround image every hour
      function changeBackground() {
          const randomIndex = Math.floor(Math.random() * backgrounds.length);
          const imageUrl = backgrounds[randomIndex];
          document.body.style.backgroundImage = `url('${imageUrl}')`;
        }

      setInterval(changeBackground, 3600000);


      // Event listeners
      startStop_btn.addEventListener("click", startStop);
      reset_btn.addEventListener("click", reset);
      study_btn.addEventListener("click", study);
      shortBreak_btn.addEventListener("click", shortBreak);
      longBreak_btn.addEventListener("click", longBreak);

      // Buttons effect
      topButtons.forEach(button => {
          button.addEventListener('click', function() {
            // Remove 'active' class from all top buttons
            topButtons.forEach(btn => btn.classList.remove('active'));
            // Add 'active' class to the clicked button
            this.classList.add('active');
          });
        });

      // Set timer to study when page loads and set a random background
      window.addEventListener("DOMContentLoaded", function() {
          study_btn.classList.add("active");
          study();
          changeBackground();
      });

      // Functions
      function study() {
          stop();
          input_seconds = pomodoroMin * 60;
          seconds = input_seconds;
          stopTime = 0;
          updateDisplay();
      }


      function shortBreak() {
          stop();
          input_seconds = shortBreakMin * 60;
          seconds = input_seconds;
          stopTime = 0;
          updateDisplay();
      }
      

      function longBreak() {
          stop();
          input_seconds = longBreakMin * 60;
          seconds = input_seconds;
          stopTime = 0;
          updateDisplay();
      }
      
      // Function that runs every second
      function timer () {

          // Decrement the seconds variable
          seconds--;

          // Format time
          updateDisplay();
          
          // Check if seconds is less than or equal to 0
          if (seconds <= 0) {
              stop();
          }
      }
      
      function stop () {
          clearInterval(interval);
          interval = null;
          running = false;
          startStop_btn.innerText = "Start";
      }
      
      function startStop () {
          if (running) {
              // Timer is currently running, so stop it
              stop();
              stopTime = seconds;
          } else {
              // Timer is currently stopped, so start it
              if (stopTime) {
                  seconds = stopTime;
                  stopTime = 0;
              } 
              if (seconds > 0) {
              interval = setInterval(timer, 1000);
              running = true;
              startStop_btn.innerText = "Stop";
              }
          }
      }

      // Reset timer
      function reset () {
          
          // Stop timer
          if (running) {
              stop();
          }
          
          // Stop time to 0
          stopTime = 0;
          // Reset time
          if (input_seconds === 0 || input_seconds === null || isNaN(input_seconds)) {
              seconds = 0;
          } else {
              seconds = input_seconds;
          }
          updateDisplay();
      }
      
      // Format time
      function updateDisplay() {
          let hrs = Math.floor(seconds / 3600);
          let mins = Math.floor((seconds - (hrs * 3600)) / 60);
          let secs = seconds % 60;
          if (secs < 10) secs = "0" + secs;
          if (mins < 10) mins = "0" + mins;
          if (hrs < 10) hrs = "0" + hrs;
          if (hrs < 1) {
              time_el.innerText = `${mins}:${secs}`;
          } else {
              time_el.innerText = `${hrs}:${mins}:${secs}`;
          }
      }        
    </script>

      

{% endblock %}